*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home-page section */

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight:normal;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    border-radius: 100px;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('/Gurtej-Singh-Web-Portfolio/Assets/Images/Beach-volleyball_bsackground_cover.png') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
 display: inline-block; 
 margin: 35px; /* Change this around to see if the main title fits */
 flex-direction: column;
 align-items: center;
 position: absolute; 
} 

.headings {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: left;
    margin: 40px 0px;
}

.btn {
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
    border-radius: 100px;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About section */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
}

#pic {
    display: flex;
}

#pic img {
    width: 49%;
    height:30%;
}

#intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
    margin-top: 350px;
}

#intro h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Horiseon - Digital Marketing Agency section */ 

#portfolio1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
}

#pic {
    display: flex;
}

#pic img {
    width: 49%;
    height:30%;
   
}

#intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
    margin-top: 350px;
    font-family: 'Roboto', sans-serif;
}

#intro h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button {
    margin-top: 50px;
    padding: 10px;
    width: 125px;
    background-color: white;
    border: 1px solid black;
    color: black;
    outline: none;
    transition: .6s ease;
    border-radius: 100px;
}

a:link {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px white;
    font-weight: bold;  
}

/* Portfolio of projects */ 

#portfolio2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
} 

.gallery img {
    width: 370px;
    height: 370px;
    margin: 10px;
}

/* Contact Section */

.heading {
    text-align: center;
    font-size: 3rem;
    margin: 40px 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.submission-form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
    border-radius: 30px;
}

label {
    display: block;
    padding: 1rem 0 .5rem;
    text-transform: uppercase;
    font-size: 14px;
}

    input, textarea {
        display: block;
        width: 100%;
        border: 2px solid black;
        padding: .5rem;
        font-size: 18px;
        border-radius: 5px;
    }

#sendBtn {
    border:0;
    background: #343050;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    transition: .3s ease;
}

#sendBtn:hover {
    background: #3498db;
}

/* Footer and social media icons */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    font-family: 'roboto' sans-serif;
    margin-bottom: 30px;
}
 .title {
     text-align: center;
 }

a {
    text-decoration: none;
    
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}

._12 {
    font-size: 1.2em;
}

.title {
    font-family: 'roboto', sans-serif;
    font-size: 1.4em;
    align-items: center;
}
ul {
    padding:0;
    list-style: none;
}

.footer-social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-rss:hover {
    background-color: #eb8231;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-github:hover {
    background-color: #5a32a3;
}

/* Media queries for various screen sizes */ 

@media screen and (max-width: 800px) {

    /* Homepage section*/

    .navbar ul li {
        font-family: 'Roboto', sans-serif;
        font-size: .7rem;
    }

    #home::before {
        height: 500px;
        width: 100%;
    }

    #home {
        height: 445px;   
    }

    .headings {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
    }

    .btn {
        padding: 2px;   
    }

    /* About me section */

    #intro h3 {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    #intro {
        width: 50%;
        padding: 30px;
        margin-top: 140px; 
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: .6rem;
    }

    /* Horiseon - code refactor project */

    
    


    /* Portfolio of projects section */

    .gallery img {
        width: 170px;
        height: 170px;
        margin: 10px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .heading {
        text-align: center;
        font-size: 1.5rem;
        margin: 40px 0px;
    }

    /* Forms and contact section */
     
    
.submission-form {
    max-width: 250px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
    border-radius: 30px;
}

    label {
    display: block;
    padding: 1rem 0 .5rem;
    text-transform: uppercase;
    font-size: 10px;
}

    input, textarea {
        display: block;
    }
    
    #sendBtn {
        border:0;
        background: #343050;
        padding: .5rem;
        color: white;
        margin: 1rem 0;
        width: auto;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 30px;
        font-size: 10px;
        transition: .3s ease;
    }
    
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
}