* {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Montserrat', sans-seri; 
}

.bg {
    background-image: url("/Gurtej-Singh-Web-Portfolio/Assets/Images/Beach-volleyball_bsackground_cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}